body {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-size: 18px;
}

h1,
h3 {
  text-align: center;
}

.container { /*parent element*/
  background-color: dodgerblue;
  display: flex;
  padding: 10px 10px 0 10px;
  flex-wrap: wrap;
  align-content: space-around; /*cross axis*/
  justify-content: center; /*major axis*/


}

.box { /*child element*/
  background-color: whitesmoke;
  border: 4px solid white;
  width: 150px;
  min-height: 150px;
  margin: 0 10px 10px 0;
  justify-content: center;
}

/*viewport property: #column {flex-direction: column;}*/
